<%- include('partials/header.ejs') %>

<section class="home-container-2">
    <div class="slider">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./images/slider1.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./images/slider2.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./images/slider3.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./images/slider4.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./images/slider5.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./images/slider6.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./images/slider7.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="home-container-3 home-items-section">
    <h3>Electronics</h3>
    <div class="home-product-cards-wrapper">
        <button id="leftBtn" class="carousel-btn" style="display: none;">&#10094;</button>
        <div class="home-product-cards">
            <% for(let i = 0; i < 10; i++) { %>
                <div class="card-items">
                    <a href="/specific?id=<%= electronics[i].id %>" class="card">
                        <div class="img-container">
                            <img src="<%= electronics[i].image_url %>" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p class="card-title"><%= electronics[i].name %></p>
                            <p class="card-text">From ₹<%= electronics[i].price %></p>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
        <button id="rightBtn" class="carousel-btn">&#10095;</button>
    </div>
</section>

<section class="home-container-3 home-items-section">
    <h3>Mens</h3>
    <div class="home-product-cards-wrapper">
        <button id="leftBtn" class="carousel-btn" style="display: none;">&#10094;</button>
        <div class="home-product-cards">
            <% for(let i = 0; i < mensWear.length; i++) { %>
                <div class="card-items">
                    <a href="/specific?id=<%= mensWear[i].id %>" class="card">
                        <div class="img-container">
                            <img src="<%= mensWear[i].image_url %>" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p class="card-title"><%= mensWear[i].name %></p>
                            <p class="card-text">From ₹<%= mensWear[i].price %></p>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
        <button id="rightBtn" class="carousel-btn">&#10095;</button>
    </div>
</section>

<section class="home-container-3 home-items-section">
    <h3>Womens</h3>
    <div class="home-product-cards-wrapper">
        <button id="leftBtn" class="carousel-btn" style="display: none;">&#10094;</button>
        <div class="home-product-cards">
            <% for(let i = 0; i < womensWear.length; i++) { %>
                <div class="card-items">
                    <a href="/specific?id=<%= womensWear[i].id %>" class="card">
                        <div class="img-container">
                            <img src="<%= womensWear[i].image_url %>" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p class="card-title"><%= womensWear[i].name %></p>
                            <p class="card-text">From ₹<%= womensWear[i].price %></p>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
        <button id="rightBtn" class="carousel-btn">&#10095;</button>
    </div>
</section>



<%- include('partials/footer.ejs') %>