<%- include('partials/header') %>

    <section class="social-container">
            <% posts.forEach(post => { %>
             
            
            <div class="post" data-rating="<%= post.rating %>">
                
                <div class="profile">
                    <p><%= post.username %></p>
                </div>
                <div class="post-image">
                    <img src="<%= post.post_image_url %>"
                        alt="">
                </div>
                <div class="post-tags">
                    <div class="tags">
                        <div class="eco-friendly <%= post.eco_friendly === 0 ? 'not' : post.eco_friendly === 1 ? 'partial' : 'fully' %>">
                            <p>Eco Friendly</p>
                            <img src="/images/eco-friendly.png" class="tag-image" alt="">
                        </div>
                        <div class="recycled <%= post.recycled === 0 ? 'not' : post.recycled === 1 ? 'partial' : 'fully' %>">
                            <p>Recycled</p>
                            <img src="/images/recycled.png" class="tag-image" alt="">
                        </div>
                        <div class="locally-sourced <%= post.locally_sourced === 0 ? 'not' : post.locally_sourced === 1 ? 'partial' : 'fully' %>">
                            <p>Locally Sourced</p>
                            <img src="/images/locally-sourced.png" class="tag-image" alt="">
                        </div>
                    </div>
                </div>
                <div class="post-caption">
                    <p><%= post.post_text %></p>
                </div>
                <div class="post-rating">
                    <div class="star-rating">
                        <div class="star-rating-bg">
                            ★★★★★
                        </div>
                        <div class="star-rating-fg">
                            ★★★★★
                        </div>
                    </div>
                </div>
                <div class="post-like-comment">
                    <i class='bx bx-heart'></i>
                    <i class='bx bx-message-rounded-dots'></i>
                </div>
            </div>
            <% }) %>
            <br>
            <br>
            <div class="user-control-options">
                <div class="add-new-post">
                    <a href="/post-edit?" title="New Post">
                        <i class='bx bx-plus-circle'></i>
                    </a>
                </div>
            </div>
    </section>

    

    <script>
        function setStarRatings() {
            const posts = document.querySelectorAll('.post');

            posts.forEach(post => {
                const rating = parseFloat(post.getAttribute('data-rating'));
                const starRatingFg = post.querySelector('.star-rating-fg');
                const percentage = (rating / 5) * 100; // Convert rating to percentage
                starRatingFg.style.width = `${percentage}%`;
            });
        }

        // Initialize the star ratings for each post
        setStarRatings();



    </script>




    <%- include('partials/footer') %>