<%- include('partials/header') %>

    <section class="specific-item">
        <div class="item-image">
            <div class="detail-image">
                <img src="<%= product.image_url %>" alt="">
            </div>
            <div class="deal-option">
                <a href="post-edit?action=share&productId=<%= product.id %>" class="share-social"><i class='bx bxs-send' style='color:#ffffff'></i>Share on Social</a>
                <a href="/cart/add?productId=<%= product.id %>" class="cart"><i class='bx bx-cart-alt' style='color:#ffffff'></i>Add to cart</a>
                <a href="" class="buy"><i class='bx bxs-hot' style='color:#ffffff'></i>Buy now</a>
            </div>
        </div>

        <div class="item-details">
            <div class="item-name">
                <h3><%= product.name %></h3>
            </div>

            <div class="tags">
                <div class="eco-friendly <%= product.ecofriendly === 0 ? 'not' : product.ecofriendly === 1 ? 'partial' : 'fully' %>">
                    <p>Eco Friendly</p>
                    <img src="/images/eco-friendly.png" class="tag-image" alt="">
                </div>
                <div class="recycled <%= product.recycled === 0 ? 'not' : product.recycled === 1 ? 'partial' : 'fully' %>">
                    <p>Recycled</p>
                    <img src="/images/recycled.png" class="tag-image" alt="">
                </div>
                <div class="locally-sourced <%= product.locally_sourced === 0 ? 'not' : product.locally_sourced === 1 ? 'partial' : 'fully' %>">
                    <p>Locally Sourced</p>
                    <img src="/images/locally-sourced.png" class="tag-image" alt="">
                </div>
            </div>

            <div class="price-details">
                <p class="special">Special price</p>
                <div class="item-price">
                    <p class="special-price">₹<%= product.price %></p>
                    <p class="actual-price">₹<%= product.actual_price %></p>
                    <p class="discount">%<%= product.discount_percent %> off</p>
                </div>
            </div>

            <div class="item-more-details">
               <ul>
                <li><%= product.description %></li>
               </ul>
            </div>
        </div>


    </section>



    <%- include('partials/footer') %>